
@{
    ViewData["Title"] = "Not Found";
}

<div class="ResponseBackground">
    <div class="ResponseSpacer">
        <div class="ResponseMainBlock">
            <h1 class="FailureRed">
                Error 404
            </h1>
            <br />
            <h2>
                Página não encontrada.
            </h2>
        </div>
    </div>
</div>


<link rel="stylesheet" href="~/css/Shared/ResponsePages.css" />